In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/supanut.k/WORKING_DRIVE/AIT/1st_semester/CPDSAI/Project/epl-fantasy-prediction/data/processed/DEF_features_enhanced_safe.csv')
df

,season,round,player_id,team,opponent_team,element_type,minutes,goals_scored,assists,bps,...,clean_sheets_roll3,clean_sheets_roll5,clean_sheets_roll10,goals_scored_roll_team3,goals_scored_roll_team5,goals_scored_roll_team10,goals_conceded_roll_team3,goals_conceded_roll_team5,goals_conceded_roll_team10,target
0,2021-22,1,5,Arsenal,3,2.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2021-22,1,8,Arsenal,3,2.0,90,0,0,14,...,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.0
2,2021-22,1,9,Arsenal,3,2.0,0,0,0,0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.000000,1.000000,1.000000,0.0
3,2021-22,1,10,Arsenal,3,2.0,80,0,0,14,...,NaN,NaN,NaN,0.0,0.0,0.0,0.666667,0.666667,0.666667,1.0
4,2021-22,1,11,Arsenal,3,2.0,0,0,0,0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.333333,1.000000,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30323,2024-25,12,296,9,14,2.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
30324,2024-25,12,297,9,14,2.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
30325,2024-25,12,298,9,14,2.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
30326,2024-25,12,667,9,14,2.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
30327,2024-25,12,705,9,14,2.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0